* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background: linear-gradient(91deg, #fff5d5, #dff1ff, #d4fffbe4);
}
.container {
  width: 100%;
  padding: 0% 4% 0 4%;
}
header .container {
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  height: 60px;
  border-bottom: 1.5px solid rgba(126, 125, 125, 0.34);
  background: linear-gradient(91deg, #fffef0, #e5eaff);
}
.logo img {
  float: left;
  display: flex;
  align-items: center;
  margin: auto;
  height: 6vh;
}
header .links{
  float: right;
  display: flex;
  height: 100%;
  width: 60%;
  align-items: center;
  font-size: 1.2rem;
  list-style: none;
  justify-content: space-around;
}
.links li > a {
  text-decoration: none;
  display: block;
}
#nav-toggler{
  position: absolute;
  top: -100px;
}
header .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.icon-burger .line {
  height: 5px;
  border-radius: 3px;
  width: 30px;
  margin: 5px;
  background-color:#4682b4;
  transition: all .3s ease-in-out;
}
.banner {
  display: flex;
  width: 100%;
  margin-top: 7%;
  height: 70vh;
}
.banner-discription {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
}
.slogan p {
  font-family: "Audiowide", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 2.2rem;
  text-align: left;
}
.banner-button {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin: 10px 50px 0px 0;
}
.banner-button button {
  cursor: pointer;
  font-size: 1rem;
  height: 100%;
  width: 170px;
  text-align: center;
  font-family: "Audiowide", serif;
  font-weight: 400;
  color: white;
  margin: 8px;
  background-color: #4682b4;
  border: 0.1px solid #4682b4;
  border-radius: 30px;
  box-shadow: 0.4px 2px 5px #4682b4;
}
.banner-slideshow .slide img {
  object-fit: cover;
  width: 100%;
  height: 70vh;
  padding-top: 1.2%;
  border: 3px linear-gradient(91deg, #ffef15, #27fff1e4, #3d64ff);
  border-radius: 2rem;
}
.about {
  display: flex;
  flex-direction: column;
}
.about-slogan h1 {
  margin: 8% 0 2% 0;
  font-size: 3rem;
  font-weight: 400;
}
.about-slogan p {
  margin: 2% 0 2% 0;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(5, 119, 160);
}
.about-slogan {
  font-family: "Audiowide", serif;
  font-style: italic;
  text-align: center;
}
.about-event {
  display: flex;
  gap: 5%;
}
.about-event h2 {
  font-family: "Nunito", serif;
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
}
.about-event ul li {
  font-family: "Nunito", serif;
  list-style: none;
  line-height: 2rem;
  text-align: center;
}
.vintage {
  display: flex;
  flex-direction: column;
  gap: 3%;
  width: 30vw;
  border: 3px solid #d4af37;
  border-radius: 2rem;
  height: 30vh;
  justify-content: center;
}
.vintage:hover {
  background-color: #d4af37;
  color: white;
}
.present {
  display: flex;
  flex-direction: column;
  gap: 3%;
  width: 30vw;
  border: 3px solid #4682b4;
  border-radius: 2rem;
  height: 30vh;
  justify-content: center;
}
.present:hover {
  background-color: #4682b4;
  color: white;
}
.future {
  display: flex;
  flex-direction: column;
  gap: 3%;
  width: 30vw;
  border: 3px solid #00cdbbe4;
  border-radius: 2rem;
  height: 30vh;
  justify-content: center;
}
.future:hover {
  background-color: #00cdbbe4;
  color: white;
}
footer .container {
  margin: 8% 0 0 0;
  height: 20vh;
  width: 100%;
  border-top: 3px solid rgba(162, 162, 162, 0.34);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo img {
  height: 8vh;
}
footer .footer-socials {
  display: flex;

  flex-direction: row;
  gap: 2rem;
  font-size: 2rem;
  list-style: none;
}
.footer-list {
  display: flex;
  gap: 5%;
}
footer .footer-list ul {
  font-family: "Nunito", serif;
  list-style: none;
  font-size: 1.16rem;
  line-height: 1.6rem;
  letter-spacing: 1.3px;
  font-weight: 400;
  cursor: pointer;
}
footer .footer-list ul :hover {
  cursor: pointer;
  color: aqua;
}

.speaker h1 {
  margin: 8% 0 2% 0;
  font-style: italic;
  font-size: 3rem;
  font-family: "Audiowide", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-align: center;
}
.speaker-slogan {
  margin: 2% 0 2% 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(5, 119, 160);
  text-align: center;
  font-style: italic;
}

.speaker1 {
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 68%;
  gap: 2%;
  height: 40vh;
  display: flex;
  border-radius: 30px;
  background: #f9fffe;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #e1f1ef;
}
.speaker1 h2 {
  margin: 2%;
  font-size: 2rem;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-weight: 600;
}
.speaker1 p {
  margin: 2%;
  font-size: 1rem;
  font-family: "Nunito", serif;
  font-weight: 400;
}
.speaker1 img {
  height: 40vh;
  object-fit: cover;
  border-radius: 20rem;
  padding: 1%;
}
.first {
  margin-bottom: 2%;
}
.second {
  margin-top: 2%;
}
.contact-us {
  max-width: 800px;
  justify-self: center;
  background: transparent;
  width: 800px;
  height: 60vh;
  padding: 25px 40px 10px 40px;
}

.contact-us .contact-us-heading {
  margin: 6% 0 0 0;
  font-style: italic;
  font-size: 3rem;
  font-family: "Audiowide", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-align: center;
}
.contact-us form {
  padding: 30px 0 0 0;
}
.contact-us form .form-row {
  display: flex;
  margin: 32px 0;
}
.event-info {
  line-height: 3.2rem;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea {
  font-family: "Nunito", serif;
  display: block;
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label {
  transform: translateY(-30px);
  font-size: 14px;
  color: #1484cf;
}
.textarea textarea {
  resize: none;
  padding-top: 8px;
}
.event-heading h1 {
  margin: 8% 0 2% 0;
  font-style: italic;
  font-size: 3rem;
  font-family: "Audiowide", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  text-align: center;
}
.event-cards {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", serif;
  font-weight: 400;
}
.event-card {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
}
.event-info {
  display: flex;
  gap: 5%;
  flex-direction: column;
  line-height: 3.6rem;
}
.event-card img {
  border: 0.15rem solid#148cdb;
  border-radius: 1rem;
  width: 14%;
  object-fit: cover;
}
.event-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
  cursor: pointer;
}
.about-event {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.event-button button {
  cursor: pointer;
  font-size: 1rem;
  height: 2.4rem;
  width: 170px;
  text-align: center;
  font-family: "Nunito", serif;
  font-weight: 400;
  color: white;
  margin: 8px;
  background-color: #4682b4;
  border: 0.1px solid #4682b4;
  border-radius: 30px;
  box-shadow: 0.4px 2px 5px #4682b4;
}

.event-underline {
  border: 1px solid #3498db;
  width: 100%;
  margin: 2% 0 2% 0;
}
.event-name h2 {
  font-family: "Nunito", serif;
  font-size: 2.2rem;
}
.event-date p {
  font-family: "Nunito", serif;
  font-size: 1.2rem;
}
.event-venue p {
  font-family: "Nunito", serif;
  font-size: 1.2rem;
}
.event-timing p {
  font-family: "Nunito", serif;
  font-size: 1.2rem;
}
.input-data label {
  font-family: "Nunito", serif;
  font-style: normal;
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
}
.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 30% !important;
}
.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background-color: #3498db;
  border-radius: 1rem;
}
.submit-btn .input-data:hover .inner {
  left: 0;
}
.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 1000px) {

}

@media  screen and (max-width: 768px) {
  header .container {
    width: 100vw;
    justify-content: space-between;
  }
  header .icon-burger{
    display: block;
  }
  .logo img {
    position: relative;
    left: 20px;
    height: 6vh;
  }
  header .links {
    float: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 3.6rem;
    width: auto;
    bottom: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(50px);
    z-index:1;
    display: flex;
    flex-direction: column;
    height: auto;
    transition: all .4s ease-in-out;
  }
  header :checked ~ .links{
    bottom: 0;
  }
  label {
    display: inline-flex;
  }
  .banner {
    display: flex;
    flex-direction: column-reverse;
    gap: 2%;
    margin-top: 20%;
    height: 104vh;
  }
  .banner-slideshow .slide img {
    object-fit: cover;
    border-radius: 1rem;
    margin: auto;
    width: 94vw;
    height: 40vh;
  }
  .slogan p {
    font-size: 1.8rem;
    text-align: center;
    width: 100vw;
  }
  .banner-button {
    position: relative;
    left: 1.2rem;
  }
  .banner-button button {
    height: 2.1rem;
  }
  .banner-discription {
    width: 94vw;
    height: 60vh;
    align-items: center;
    text-align: center;
    margin-bottom: 3%;
    font-size: 1rem;
  }
  .about-slogan h1 {
    margin-top: 10%;
    font-size: 2.2rem;
    font-weight: 400;
  }
  .about-slogan p {
    font-size: 2rem;
    font-weight: 400;
  }
  .about-event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }
  .about-event ul li {
    line-height: 1.4rem;
  }
  .vintage {
    width: 90vw;
  }
  .present {
    width: 90vw;
  }
  .future {
    width: 90vw;
  }
  .banner-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .first {
    display: flex;
    flex-direction: column-reverse;
    height: 80vh;
    width: 80vw;
    justify-self: center;
    text-align: center;
  }
  .first img {
    height: 20vh;
    border-radius: 20rem;
  }
  .event-card img {
    width: 40%;
  }
  .speaker1 h2 {
    margin: 6%;
  }
  .second {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
    justify-self: center;
    text-align: center;
  }
  .second img {
    height: 20vh;
    border-radius: 20rem;
    margin: 10% 0 0 0;
  }
  .events {
    margin-top: 12%;
  }
  .event-heading {
    font-size: 1.6rem;
    font-family: "Nunito", serif;
    font-weight: 400;
    font-style: italic;
  }

  .speaker-discription {
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .contact-us {
    width: 100vw;
    margin-top: 10%;
    height: 90vh;
  }
  .event-cards {
    display: flex;
    justify-content: center;
  }
  .event-card {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .event-name h2 {
    font-size: 1.8rem;
  }
  .event-button {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact-us .contact-us-heading {
    font-size: 30px;
  }
  .contact-us form {
    padding: 10px 0 0 0;
  }
  .contact-us form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
  footer .container {
    display: flex;
    height: 40vh;
    flex-direction: column;
  }
  .footer-list {
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
    line-height: 2rem;
  }
  footer .footer-socials ul li {
    display: flex;
  }
  #toggler {
    opacity: 1;
  }
  nav > input:checked ~ .navbar {
    background-color: black;
  }
  .toggle :checked ~ .navbar > {
    background-color: black;
  }
}
