* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
  font-style: normal;
}
body {
  margin-top: 0;
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  background-color: #f0f0f0;
}
.container {
  margin: auto;
  padding: 0 4% 0 4%;
}
li {
  list-style: none;
}
.sort{
  width: 22%;
}
#sortTask {
  width: 80%;
  border: none;
  border-radius: 0.4rem;
  height: 3rem;
  font-size: 1.4rem;
  padding: 1%;
  font-weight: 300;
  outline: none;
}
.functionality {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.add_task {
  margin: 1% 0 4% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.searchbar {
  width: 50%;
  padding-left: 1%;
  height: 3rem;
  background-color: #ffffff;
  font-size: 2.2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 10%;
  border-radius: 0.4rem;
}
.searchbar i {
  font-size: 1.4rem;
  color: rgb(199, 198, 198);
}
.searchbar input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 1.4rem;
}
.welcome h2 {
  font-weight: 300;
  font-size: 1.8rem;
}
.welcome h1 {
  font-weight: 600;
  font-size: 2.2rem;
}
.add-task_button {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.add-task_button button {
  cursor: pointer;
  height: 3rem;
  width: 62%;
  font-size: 1.2rem;
  background-color: #4b00a1;
  color: white;
  border: none;
  border-radius: 0.4rem;
}
.add-task_button img {
  height: 0.4rem;
}
.add-task_form {
  position: absolute;
  left: 25%;
  right: 25%;
  bottom: 10%;
  padding: 1%;
  width: 54%;
  margin: auto;
  border: 2px solid #fafafa;
  display: none;
  flex-direction: column;
  border-radius: 0.8rem;
  box-shadow: 0px 2px 2px #ffffff;
  background-color: #fafafa;
  z-index: 1;
}
#add_form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1.5em;
}
.form_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  font-size: 1.2rem;
  font-weight: 600;
}
.form_heading button {
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  background-color: #fafafa;
}
.task_name {
  width: 80%;
  padding-left: 1%;
  height: 3.2rem;
  background-color: #ffffff;
  font-size: 2.2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 2%;
  border-radius: 0.8rem;
}
.task_name i {
  font-size: 2rem;
  font-weight: 300;
  color: rgb(239, 238, 238);
}
.task_name input {
  width: 80%;
  border: none;
  outline: none;
  font-size: 1.4rem;
}
.category {
  width: 80%;
  margin: 2% 2% 0 2%;
  height: 3.2rem;
  font-size: 2.2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 2%;
  border-radius: 0.8rem;
}
.category label {
  font-size: 1.2rem;
  width: 20%;
}
.category select {
  height: 2.8rem;
  width: 94%;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 0.4rem;
}
.add-task_time {
  width: 80%;
  margin: 2% 2% 0 2%;
  height: 3.2rem;
  font-size: 2.2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 2%;
  border-radius: 0.8rem;
}
.add-task_time label {
  font-size: 1.2rem;
  width: 20%;
}
.add-task_time input {
  height: 2.8rem;
  width: 94%;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 0.4rem;
}
.description {
  width: 80%;
  margin: 2% 2% 0 2%;
  height: 3.2rem;
  font-size: 2.2rem;
  border: none;
  display: flex;
  align-items: center;
  gap: 2%;
  border-radius: 0.8rem;
}
.description label {
  font-size: 1.2rem;
  width: 20%;
}
.description textarea {
  width: 94%;
  outline: none;
  border: 1px solid #d7d7d7;
  border-radius: 0.4rem;
}
.submit {
  width: 80%;
  margin: 10% 2% 0 2%;
  height: 3.2rem;
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: end;
  border-radius: 0.8rem;
}
.save_task {
  font-size: 1.2rem;
  cursor: pointer;
  height: 3.2rem;
  width: 10rem;
  background-color: #4b00a1;
  color: white;
  border: none;
  border-radius: 0.4rem;
}
.task_dashboard {
  margin: 1%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.active_task {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.active_counter p {
  padding: 2%;
  color: #a364f5;
  font-size: 1.2rem;
}
.active_counter span {
  width: 6%;
  font-size: 1.5rem;
  border: 1px solid #a364f5;
  text-align: center;
  border-radius: 2rem;
  color: white;
  background-color: #a364f5;
}
.completed_task {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
}
.complete_counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.complete_counter .line {
  border-bottom: 2px solid #dc6cd4;
  width: 72%;
  position: relative;
  bottom: 24%;
}
.active_counter .line {
  border-bottom: 2px solid #a364f5;
  width: 67%;
  position: relative;
  bottom: 24%;
  left: 0.2%;
}
.complete_counter span {
  width: 6%;
  font-size: 1.5rem;
  border: 1px solid #dc6cd4;
  text-align: center;
  border-radius: 2rem;
  color: white;
  background-color: #dc6cd4;
}
.complete_counter p {
  padding: 2%;
  color: #dc6cd4;
  font-size: 1.2rem;
}
#active-task_list .todo_task {
  background-color: #ffffff;
  width: 100%;
  padding: 1%;
  border: 2px solid #e1cfe8;
  border-radius: 0.4rem;
}
#completed-task_list .todo_task {
  background-color: #ffffff;
  width: 100%;
  padding: 1%;
  border: 2px solid #e1cfe8;
  border-radius: 0.4rem;
}
.task_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_name p {
  font-size: 2.4rem;
}
#active-task_list {
  height: 60vh;
  overflow: scroll;
  scrollbar-width: none;
  padding: 1%;
}
#active-task_list li {
  margin: 1%;
  list-style: none;
}
#completed-task_list {
  height: 60vh;
  overflow: scroll;
  scrollbar-width: none;
  padding: 1%;
  list-style: none;
}
#completed-task_list li {
  margin: 1%;
  list-style: none;
}
#completed-task_list .task_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#complete_counter.title_name p {
  font-size: 2.4rem;
}
.task_category {
  margin: 1% 1% 1% 0;
  display: flex;
  align-items: center;
}
.task_button {
  margin: 2%;
  display: flex;
  gap: 6%;
  justify-content: end;
}
.recycle_button {
  background-color: #fff8fe;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}
.active_counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.task_modify {
  width: 10%;
}
.task_status {
  width: 20%;
}
.task_status button {
  cursor: pointer;
  background-color: #dc6cd4;
  border-radius: 0.4rem;
  width: 92%;
  padding: 4%;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dc6cd4;
}
.delete_task {
  cursor: pointer;
  font-size: 1.6rem;
  border: none;
  background-color: #ffffff;
}

.clear-all_button {
  display: flex;
  justify-content: end;
  position: relative;
  right: 11%;
  width: 100%;
}
.clear-all_button button {
  cursor: pointer;
  font-size: 1.4rem;
  width: 10%;
  color: #4b00a1;
  background-color: #fafafa;
  border: 2px solid #4b00a1;
  height: 2.6rem;
  border-radius: 0.4rem;
}
#clear_blurbg{
  height:100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.02rem);
  z-index: 1;
  display: none;
}
